.react-calendar {
    width: 40%; /* 전체 캘린더 넓이 */
    max-width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    padding: 10px;
}

.react-calendar__month-view__days__day {
    height: 100px;
    min-height: 100px;
    font-size: 14px;
    padding: 10px;
    text-align: left; /* 왼쪽 정렬 */
    vertical-align: top;
    position: relative;
}

.react-calendar__tile--now {
    background: transparent; /* 타일 전체 배경 제거 */
}

/* 오늘 날짜 숫자만 동그랗게 표시 */
.react-calendar__tile--now abbr {
    display: inline-block;
    background: #a9fa90; /* 연한 노란색 */
    color: #333;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
}



.react-calendar__tile {
    height: 100px;
    min-height: 100px;
    padding: 10px;
    text-align: left; /* 왼쪽 정렬 */
}


.tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 100%;
}

.todo-label {
    background: #efa470;
    color: white;
    font-size: 10px;
    border-radius: 8px;
    padding: 2px 4px;
    margin-top: 2px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.more-label {
    font-size: 9px;
    color: #888;
    margin-top: 2px;
}
